  <ul>
              <ul class="list">
                
                  <li class="logo"><a href="mainPage.html"><img src="/images/earth-globe.jpg" alt="Logo" style="width:36px;height:36px"></a></li>
                
              </ul>
              <ul class="list2">
                <li class="active-menu"><a href="/mainx">Home</a></li>
                <li><a id="long" href="/destination">Destination</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/booking">Book Tour</a></li>
                <li><a href="/feedback">Feedback</a></li>
                <li><a href="/">Logout</a></li>
              </ul>
            </ul>